@using Portal.Domain.Models
@using Portal.WebApp.Models.MaterialViewModels
@model DropDownMaterialViewModel 

@{
    ViewData["Title"] = "Add existing";
}

<div>
    <form method="post" asp-route-idCourse="@Model.IdCourse">
        <div>
            <select asp-for="SelectedMaterialId" asp-items="@new SelectList(@Model.Materials, nameof(Material.Id), null)">
                <option>Select Material</option>
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>
</div>
