@using Portal.WebApp.Models.UserViewModels
@model UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form method="post">
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email..." aria-label="Enter Email..." style="width:30%;margin-bottom:5px" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password..." aria-label="Enter Password..." style="width:30%;margin-bottom:5px" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
        </div>
        <br />
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

