@using Portal.WebApp.Models.CourseViewModels
@model List<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @{
        if (Model.Count() == 0)
        {
            <h1>No Courses Available</h1>
        }
        else
        {
            <div>
                @foreach (var course in @Model)
                {
                    <div class="card" style="width: 18rem;display:inline-block;">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <p class="card-text">@course.Description</p>
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="btn btn-primary">View</a>
                            <a asp-controller="Course" asp-action="SubscribeCourse" class="btn btn-danger">Subscribe</a>
                        </div>
                    </div>   
                }
            </div>
        }
    }
</div>
