@using Portal.Domain.Models
@using Portal.WebApp.Models.SkillViewModels
@model AddExistingCourseSkillViewModel 

@{
    ViewData["Title"] = "Add existing";
}

<div>
    <div>
        @foreach (var skill in @Model.Skills)
        {
            <div class="card" style="width: 18rem;display:inline-block;">
                <img src="~/courseImg.jpg" style="height:100px;" class="card-img-top" alt="Image wasn't found">
                <div class="card-body">
                    <h5 class="card-title">@skill.Experience</h5>
                    <a asp-controller="CourseSkill" asp-action="AddExistingSkill" asp-route-idCourse="@Model.IdCourse" asp-route-idSkill="@skill.Id" class="btn btn-primary">Add</a>
                </div>
            </div>   
        }
    </div>
</div>
