@using Portal.WebApp.Models.SkillViewModels
@model AddCourseSkillViewModel

@{
    ViewData["Title"] = "CreateNew";
}

<h1>CreateNewSkill</h1>

<div>
    <form method="post" asp-action="CreateNew">
        <div>
            <input asp-for="IdCourse" hidden />
            <label asp-for="CourseSkill"></label><br />
            <input asp-for="CourseSkill" type="text" class="form-control" placeholder="Enter Skill..." aria-label="Enter Skill..." style="margin-bottom:5px" />
            <span asp-validation-for="CourseSkill"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
</div>
