@using Portal.WebApp.Models.CourseViewModels
@model List<CourseViewModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    @if(Model.Count() == 0)
    {
        <h1>You don't have any own courses</h1>
    }
    else
    {
        <div>
            @foreach (var course in @Model)
            {
                <div class="card" style="width: 18rem;display:inline-block;">
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <p class="card-text">@course.Description</p>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>   
            }
        </div>
    }
    <a asp-action="CreateCourse">Create course</a>
</div>

